body {
    background-color: lightgreen;
}
.contactForm{
    float: left;
    width: 25%;
    padding: 10px;
}
.img {
    width: 300px;
    height: auto;
}
.row{
    padding: 10px;
}
.col{
    padding: 10px;
}